.btn-test {
    margin-top: 30px;
    margin-left: 50px;
}
.user-label {
    margin-right: 30px;
    margin-bottom: 20px;
}
.user-input {
    margin-bottom: 20px;
}
.password-label {
    margin-right: 30px;
}
